body {
  background: #263238;
  color: #bbc4c8;
  height: 98%;
}

.link-set-links {
  border: #191c1e;
  border-radius: 3px;
  box-shadow: 0px 4px 5px #171d20;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #222d32;
}

a:link {
  text-decoration: none;
  color: #8f9191;
}

a:visited {
  color: #8f9191;
}

a:hover {
  color: #6819cf;
}
/* 
.clock{
    
} */
